div {
    border-radius: 12px;
    background-color: hsl(300, 44%, 86%);
    border: solid purple 2px;
    width: fit-content;
    height: fit-content;
    display:grid;
}


table , td {
    border: solid black 2px;
}

th {
background-color: rgb(108, 150, 108);
color: white;
}



@media print {
    body * {
        visibility: hidden;
    }
    .printableArea, .printableArea * {
        visibility: visible;
    }
    .printableArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
